/* BIENVENIDA */
.cuadro {
    width: 100%;
    padding: 50px 30px;
    background-color: #3282b8;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
}

a.resaltar {
    display: inline-block;
    padding: 10px;
    border: 2px solid rgb(151, 77, 255);
    border-radius: 5px;
    background-color: white;
    color: rgb(0, 97, 252);
    font-weight: bold;
    text-decoration: none;
}
.centrado{
    margin: auto;
    text-align: center;
}
/* FIN BIENVENIDA */


/* INICIO SESION */
.titulo {
    font-size: 250%;
    color:#bbe1fa;
    text-align: center;
    margin-bottom: 20px;
}
body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;
    
    margin: 0;
    background-color: #0f4c75;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.login {
    width: 100%;
    padding: 50px 30px;
    background-color: #3282b8;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
}

.login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #E4E4E4;
}

.login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#1b262c;
    width: 100%;
    height: 40px;
    border:#4605f7;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #bbe1fa;
    
    margin-top: 10px;
}
.login button:hover {
    background-color: #0f4c75;
    color:#bbe1fa;
}
.central {
    max-width: 320px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.texto{
    font-size:larger;
}
.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* FIN INICIO SESION */