/* BIENVENIDA */
.cuadro {
    width: 100%;
    padding: 50px 30px;
    background-color: #3282b8;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
}

a.resaltar {
    display: inline-block;
    padding: 10px;
    border: 2px solid rgb(151, 77, 255);
    border-radius: 5px;
    background-color: white;
    color: rgb(0, 97, 252);
    font-weight: bold;
    text-decoration: none;
}
.centrado{
    margin: auto;
    text-align: center;
}

.enlace {
    color: #030000;
    background-color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.enlace:hover {
    background-color: #0056b3;
}
/* FIN BIENVENIDA */


/* INICIO SESION */
.titulo {
    font-size: 250%;
    color:#000000;
    text-align: center;
    margin-bottom: 10px;
}
body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;
    
    margin: 0;
    background-color: #82c1ea;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.login {
    width: 100%;
    padding: 50px 30px;
    background-color: #064c7a;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
}

.login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #E4E4E4;
}

.login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#1b262c;
    width: 100%;
    height: 40px;
    border:#4605f7;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #bbe1fa;
    
    margin-top: 10px;
}
.login button:hover {
    color: #000000;
    background-color: #fbfbfb;
    color:#bbe1fa;
}
.central {
    max-width: 320px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.texto{
    font-size:larger;
}
.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.error-message {
    width: fit-content;
    background-color: red;
    color: black;
    text-align: center;
    padding: 10px;
}

.my-box {
    display: inline-block;
    font-size: 24px;
    }
/* FIN INICIO SESION */


/* LISTAR CURSOS */

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}


.table th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 8px;
  border: 1px solid #ccc;
}


.table tr:nth-child(even) {
  background-color: #f9f9f9;
}


.table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.table td:first-child {
  font-weight: bold;
}
/* FIN LISTAR CURSOS    */

/* ASISTENCIA */
.nombre {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;}
.select-estilo {
        width: 200px;
        height: 30px;
        padding: 5px;
        font-size: 14px;
        color: #000000;
        background-color: #f7f7f7;
        border: 1px solid #000000;
        border-radius: 4px;}
.select-estilo option {
            padding: 5px;
            font-size: 14px;
            color: #000000;
            background-color: #f7f7f7;
}
.input-estilo {
    padding: 10px;
    font-size: 16px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* FIN ASISTENCIA  */

/* PRECEPTOR */
.nombre-preceptor {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}  
/* PRECEPTOR */