<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>COLEGIO SAN MIGUEL</h1>
    <form action="{{ url_for('confirmar_asistencia')}}" method="post">
        <div>
            <input type="hidden" name="idalumno" value="{{ idalumno }}">
            <p>{{ alumno.nombre }} {{ alumno.apellido }}</p>
        </div>
        <div>
            <select name="tipoclase">
                <option value="1" name="Claseaula">Clase Aula</option>
                <option value="2" name="Claseedu">Clase educacion Fisica</option>
            </select>
        </div>
        <div>
            <input type="date" id="start" name="fecha"
            value="2013-06-24"
            min="2023-01-01" max="2023-12-31">

        </div>
        <div>
            <input type="text" name="asis" placeholder="Asistencia">
        </div>
        <div>
            <input type="text" name="justificacion">
        </div>
        <button type="submit">Confirmar asistencia</button>
    </form>
</body>
</html>
