<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elegir curso</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="titulo">
        <h2>Bienvenido al Programa de asistencia de el Colegio San Miguel</h2>
        <img class="imagen" src="/static/img/logo_colegio.png" width="800" height="100">
        <p>Registrar asistencia</p>
</div>
<div id="contenedor">
    <section class="login">
        <div class="central">
        <form action="{{ url_for('asistencia_curso')}}" method="POST" id="loginform">
            <div>
                {% if cursos is not none :%} 
                    <label for="cursos">Cursos</label>
                    <select id="cursos" name="idcurso" width="500px">
                        {% for curso in cursos %} 
                                <option value="{{ curso.id}}">{{ curso.anio }} {{ curso.division }}</option>
                        {% endfor %} 
                    </select>
                {% endif %}
            </div>
            <div>
                <select name="tipoclase" class="select-estilo">
                    <option value="1" name="Claseaula">Clase Aula</option>
                    <option value="2" name="Claseedu">Clase educacion Fisica</option>
                </select>
            </div>
            <br><br>
            <div>
                <input type="date" id="start" name="fecha"
                value="2013-06-24"
                min="2023-01-01" max="2023-12-31" class="input-estilo">

            </div>
            <button type="submit">Registrar asistencia</button>
        </form>
    </div>
    </section>
</div>
    <div class="centrado">
        <a class="resaltar" href="{{ url_for ('pagina_preceptor') }}">Volver a pagina preceptor</a> 
    </div>
</body>
</html>