<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar inasistencias de un curso</title>
</head>
<body>
    <h1>COLEGIO SAN MIGUEL</h1>
    <h3>Registrar asistencia</h3>
    <section>
        <form action="{{ url_for('informe')}}" method="POST">
            <div>
                {% if cursos is not none :%} 
                    <label for="cursos">Cursos</label>
                    <select id="cursos" name="cursos" width="500px">
                        {% for curso in cursos %} 
                                <option value="{{ curso.id}}">{{ curso.anio }} {{ curso.division }}</option>
                        {% endfor %} 
                    </select>
                {% endif %}
            </div>
            <button type="submit">Verificar asistencia</button>
        </form>
    </section>
</body>
</html>