<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar inasistencias de un curso</title>
</head>
<body>
    {% if usuarios is not none :%}
    <label for="usuarios">Preceptores </label><br>
    <select id="usuarios" name="usuarios" width="500px">
        {% for usuario in usuarios %} 
            <option value="{{ preceptor.id}} ">{{ preceptor.nombre }}</option>
        {% endfor %} 
</body>
</html>