<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Sesion</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
        <section class="formlogin">
            <h1> INICIO SESION COLEGIO SAN MIGUEL</h1>
            <br>
            <br>
            
        <form method="post">
            <div class="control">
                <h3>Usuario:</h3>
                <input type="email" name="correo" value="" placeholder="Correo">
            </div>
            <div class="control">
                <h3>Contraseña:</h3>
                <input type="password" name="contraseña" value="" placeholder="Contraseña">
            </div>

            <button class="boton" type="submit" value="enviar">Ingresar</button>

        </form>
    </section>
</body>
</html>