<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Preceptor</title>
</head>
<body>
    <header>
    <h1>COLEGIO SAN MIGUEL</h1>
    </header>
    <section>
        <nav>
                <ul>
                    <li><a href="">Registrar asistencia</a></li>
                    <li><a href="">Obtener informe de inasistenciasde un curso</a></li>
                    <li><a href>Informe detallado de una clase para una fecha</a></li>
                </ul>
        </nav>
    </section>
</body>
</html>